<div class="gallery">
  <div class="item h4 v2">
    <img src="./assets/img/thailandia.jpg">
    <div class="item__overlay">
      <button>View →</button>
    </div>
  </div>
  <div class="item h2 v4">
    <img src="./assets/img/paris.jpg">
    <div class="item__overlay">
      <button>View →</button>
    </div>
  </div>
  <div class="item h3 v2">
    <img src="./assets/img/veliko-tarnovo.jpg">
    <div class="item__overlay">
      <button>View →</button>
    </div>
  </div>
  <div class="item h3 v4">
    <img src="./assets/img/veliko-tarnovo2.jpg">
    <div class="item__overlay">
      <button>View →</button>
    </div>
  </div>
  <div class="item h4 v2">
    <img src="./assets/img/bucarest.jpg">
    <div class="item__overlay">
      <button>View →</button>
    </div>
  </div>
  <div class="item h4 v4">
    <img src="./assets/img/bucarest3.jpg">
    <div class="item__overlay">
      <button>View →</button>
    </div>
  </div>
  <div class="item h4 v3">
    <img src="./assets/img/bucarest4.jpg">
    <div class="item__overlay">
      <button>View →</button>
    </div>
  </div>
  <div class="item h2 v3">
    <img src="./assets/img/marrakech.jpg">
    <div class="item__overlay">
      <button>View →</button>
    </div>
  </div>


</div>


<!-- 
./assets/img/thailandia.jpg
./assets/img/merzouga.png
./assets/img/paris.jpg
./assets/img/brujas.png
./assets/img/mexico.jpg
./assets/img/amsterdam.jpg
./assets/img/rumania.jpg
./assets/img/veliko-tarnovo.jpg
./assets/img/rabat.jpg
 -->