<div class="gallery">
  <div class="item h2 v4" >
    <img src="./assets/img/paris.jpg">
    <div  class="item__overlay" >
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Francia
        </div>
        <div class="project-name">
          Paris
        </div>
      </div>
    </div>
  </div>
  <div class="item h4 v3">
    <img src="./assets/img/merzouga.png">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Sahara
        </div>
        <div class="project-name">
          Merzouga
        </div>
      </div>
    </div>
  </div>
  <div class="item h4 v2">
    <img src="./assets/img/thailandia.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Thailandia
        </div>
        <div class="project-name">
          Phi Phi islands
        </div>
      </div>
    </div>
  </div>
  <div class="item h3 v2">
    <img src="./assets/img/camden-market.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Londres
        </div>
        <div class="project-name">
          Camden market
        </div>
      </div>
    </div>
  </div>
  <div class="item h3 v2">
    <img src="./assets/img/veliko-tarnovo.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Bulgaria
        </div>
        <div class="project-name">
          Veliko Tarnovo
        </div>
      </div>
    </div>
  </div>
  <div class="item h3 v2">
    <img src="./assets/img/mexico.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Mexico
        </div>
        <div class="project-name">
          Chichen Itza
        </div>
      </div>
    </div>
  </div>
  <div class="item h4 v2">
    <img src="./assets/img/qatar.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Qatar
        </div>
        <div class="project-name">
          Doha
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v3">
    <img src="./assets/img/praga3.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Republica Checa
        </div>
        <div class="project-name">
          Praga
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v4">
    <img src="./assets/img/praga2.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Republica Checa
        </div>
        <div class="project-name">
          Praga
        </div>
      </div>
    </div>
  </div>
  <div class="item h3 v2">
    <img src="./assets/img/berlin.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Alemania
        </div>
        <div class="project-name">
          Berlin
        </div>
      </div>
    </div>
  </div>
  <div class="item h4 v2">
    <img src="./assets/img/bucarest.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Rumania
        </div>
        <div class="project-name">
          Poiana Brasov
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v3">
    <img src="./assets/img/berlin-checkpoint.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Alemania
        </div>
        <div class="project-name">
          Berlin
        </div>
      </div>
    </div>
  </div>
  <div class="item h4 v3">
    <img src="./assets/img/bucarest3.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Rumania
        </div>
        <div class="project-name">
          Castillo Peles
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v2">
    <img src="./assets/img/thailandia2.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Thailandia
        </div>
        <div class="project-name">
          Ayutthaya
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v2">
    <img src="./assets/img/brujas.png">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Belgica
        </div>
        <div class="project-name">
          Brujas
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v2">
    <img src="./assets/img/merzouga.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Marruecos
        </div>
        <div class="project-name">
          Merzouga
        </div>
      </div>
    </div>
  </div>

  <div class="item h1 v2">
    <img src="./assets/img/berlin-tv-tower.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Alemania
        </div>
        <div class="project-name">
         Berlin
        </div>
        <div class="project-name">
          TV Tower
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v2">
    <img src="./assets/img/big-buddha.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Thailandia
        </div>
        <div class="project-name">
          Ayutthaya
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v1">
    <img src="./assets/img/rabat.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Marruecos
        </div>
        <div class="project-name">
          Rabat
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v2">
    <img src="./assets/img/london.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Reino Unido
        </div>
        <div class="project-name">
          Londres
        </div>
      </div>
    </div>
  </div>
<div class="item h2 v2">
  <img src="./assets/img/ayutthaya.jpg">
  <div class="item__overlay">
    <div class="portfolio-box-caption-content">
      <div class="project-category text-faded">
        Thailandia
      </div>
      <div class="project-name">
        Ayutthaya
      </div>
    </div>
  </div>
</div>
  <div class="item h4 v3">
    <img src="./assets/img/bucarest4.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Rumania
        </div>
        <div class="project-name">
          Bucharest
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v2">
    <img src="./assets/img/praga.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Republica Checa
        </div>
        <div class="project-name">
          Praga
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v3">
    <img src="./assets/img/berlin-señales.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Alemania
        </div>
        <div class="project-name">
          Berlin
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v1">
    <img src="./assets/img/bucarest2.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Rumania
        </div>
        <div class="project-name">
          Castillo Drácula
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v3">
    <img src="./assets/img/doha.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Qatar
        </div>
        <div class="project-name">
          Doha
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v3">
    <img src="./assets/img/marrakech.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Marruecos
        </div>
        <div class="project-name">
          Marrakech
        </div>
      </div>
    </div>
  </div>
  <div class="item h3 v1">
    <img src="./assets/img/playa-paraiso.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Mexico
        </div>
        <div class="project-name">
          Playa paraiso
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v2">
    <img src="./assets/img/amsterdam.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Paises Bajos
        </div>
        <div class="project-name">
          Amsterdam
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v1">
    <img src="./assets/img/amsterdam2.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Paises Bajos
        </div>
        <div class="project-name">
          Amsterdam
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v1">
    <img src="./assets/img/brujas.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Belgica
        </div>
        <div class="project-name">
          Brujas
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v3">
    <img src="./assets/img/veliko-tarnovo2.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Bulgaria
        </div>
        <div class="project-name">
          Veliko Tarnovo
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v1">
    <img src="./assets/img/holocaust.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Alemania
        </div>
        <div class="project-name">
          Monumento holocausto judio
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v1">
    <img src="./assets/img/marrakech2.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Marruecos
        </div>
        <div class="project-name">
          Marrakech
        </div>
      </div>
    </div>
  </div>

  <div class="item h1 v1">
    <img src="./assets/img/camello.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Sahara
        </div>
        <div class="project-name">
          Merzouga
        </div>
      </div>
    </div>
  </div>

  <div class="item h3 v2">
    <img src="./assets/img/bruselas.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Belgica
        </div>
        <div class="project-name">
          Bruselas
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v2">
    <img src="./assets/img/merzouga2.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Sahara
        </div>
        <div class="project-name">
          Merzouga
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v2">
    <img src="./assets/img/ouzarete.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Marruecos
        </div>
        <div class="project-name">
          Ouzarete
        </div>
      </div>
    </div>
  </div>

  <div class="item h1 v1">
    <img src="./assets/img/berlin-wall.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Alemania
        </div>
        <div class="project-name">
          Muro berlin
        </div>
      </div>
    </div>
  </div>
  <div class="item h1 v1">
    <img src="./assets/img/railay-beach.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Thailandia
        </div>
        <div class="project-name">
          Railay Beach
        </div>
      </div>
    </div>
  </div>
  <div class="item h2 v1">
    <img src="./assets/img/sahara.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Sahara
        </div>
        <div class="project-name">
          Merzouga
        </div>
      </div>
    </div>
  </div>

  <div class="item h1 v1">
    <img src="./assets/img/saillagouse.jpg">
    <div class="item__overlay">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          Francia
        </div>
        <div class="project-name">
          Saillagouse
        </div>
      </div>
    </div>
  </div>



</div>