<div class="container-main">
    <div class="relative">
        <h1 title="Adán González López">
            <mark class="blue">A</mark>
            <mark class="red">d</mark>
            <mark class="yellow">a</mark>
            <mark class="blue bottom">a</mark>
            <mark class="green left">á</mark>
            <mark class="red">n</mark>
        </h1>
        <h3 class="subtitle first-letter">G</h3>
        <h3 class="subtitle">licia</h3>
    </div>
</div>
<div class="container-input">
    <input (keyup.enter)="showLucky()">
</div>
<div class="container-buttons">
    <input class="button" (click)="showLucky()" value="Buscar con Google" type="submit">
    <input class="button" (click)="showLucky()" [value]="textButton" type="submit">
</div>
<!-- <div class="container-input">
    <div id="paypal-button"></div>
</div> -->


<app-lucky *ngIf="show" [show]="show"></app-lucky>