<header>
    <ul>
        <li [class.active]="isActiveHome()"><a class="link" routerLink="/inicio">Inicio</a></li>
        <li [class.active]="isActive('/about')"><a class="link" routerLink="/about">Sobre mí</a></li>
        <li>
            <a [ngClass]="p3.isOpen() ? 'link arrow cube1' : 'link cube1'" [ngbPopover]="popupApps" triggers="manual" #p3="ngbPopover" (click)="p3.toggle();  p.close(); closeCookies()" popoverTitle="¿Con quien he trabajado?" placement="bottom"><img class="cube" src="assets/img/blocks.svg"></a>
        </li>
        <li>
            <a [ngClass]="pCookies.isOpen() ? 'link arrow notifications1' : 'link notifications1'" [ngbPopover]="popupCookies" triggers="manual" #pCookies="ngbPopover" (click)="p.close(); toggleCookies();  p3.close()" placement="bottom"><img class="notifications" src="assets/img/notifications.svg"></a>
        </li>
        <li>
            <a [ngClass]="p.isOpen() ? 'link arrow avatar1' : 'link avatar1'" [ngbPopover]="popupProfile" triggers="manual" #p="ngbPopover" (click)="p.toggle();  p3.close(); closeCookies()" placement="bottom"><img height="25" src="./assets/img/profile.png"></a>
        </li>
    </ul>
</header>


<div class="contenido" (click)="p.close();  p3.close(); closeCookies()">
    <router-outlet></router-outlet>
    <ng-template id="popupProfile" #popupProfile>
        <div>
            <img height="75" [ngbPopover]="popAvatar" triggers="manual" #p2="ngbPopover" (click)="p2.open()" placement="down" class="avatar-popup" src="./assets/img/profile.png">
            <div class="popup-info">
                <p>Adán González López</p>
                <div><a href="mail:adan.gonzalez.lopez@gmail.com">adan.gonzalez.lopez@gmail.com</a></div>
                <div><a href="mail:adangonzalez@moaw.co">adangonzalez@moaw.co</a></div>
            </div>
        </div>
        <div>
            <input (click)="onContact()" class="button contact" value="Contactar" type="submit">
        </div>
    </ng-template>
    <ng-template id="popAvatar" #popAvatar>¿Tratas de pincharme un ojo? <br> <b>Soy digital</b>, no lo conseguirás!!
    </ng-template>
    <ng-template id="popupApps" #popupApps>
        <div class="row">
            <a target="_blank" class="col-xs-4 partner" href="https://playmuser.com">
                <div class="container-app">
                    <p class="text-center">Playmuser.com</p>
                    <img src="assets/img/muser.svg"><br>
                </div>
            </a>
            <a target="_blank" class="col-xs-4 partner" href="https://moaw.co">
                <div class="container-app">
                    <p class="text-center">Moaw</p>
                    <img src="assets/img/moaw.png"><br>
                </div>
            </a>
            <a target="_blank" class="col-xs-4 partner" href="https://www.inditex.com/es/home">
                <div class="container-app">
                    <p class="text-center">Inditex</p>
                    <img _ngcontent-c0="" src="assets/img/inditex.jpg" style="padding-top: 10px;">
                </div>
            </a>
            <a target="_blank" class="col-xs-4 partner" href="https://mueblescaloto.com/">
                <div class="container-app">
                    <p class="text-center">MueblesCaloto</p>
                    <img src="assets/img/muebles_caloto_logo_negro_corto.svg"><br>
                </div>
            </a>
            <a target="_blank" class="col-xs-4 partner" href="https://www.imatia.com/es/">
                <div class="container-app">
                    <p class="text-center">Imatia</p>
                    <img src="assets/img/imatia.png"><br>
                </div>
            </a>
            <a target="_blank" class="col-xs-4 partner" href="http://www.sadagrupo.com/">
                <div class="container-app">
                    <p class="text-center">Grupo Sada</p>
                    <img src="assets/img/sada.jpg"><br>
                </div>
            </a>
            <a target="_blank" class="col-xs-4 partner" href="http://www.cysnetsoftware.com/">
                <div class="container-app">
                    <p class="text-center">Cysnet<br>Software</p>
                    <img src="assets/img/cysnet.png"><br>
                </div>
            </a>
            <a target="_blank" class="col-xs-4 partner" href="https://www.mueva.eu/">
                <div class="container-app">
                    <p class="text-center">Muevael volante</p>
                    <img src="assets/img/mueva.jpg"><br>
                </div>
            </a>
            <a target="_blank" class="col-xs-4 partner" href="http://www.easis.es/">
                <div class="container-app">
                    <p class="text-center">Easis</p>
                    <img src="assets/img/easis.jpg"><br>
                </div>
            </a>
            <a target="_blank" class="col-xs-4 partner" href="http://wekco.net/">
                <div class="container-app">
                    <p class="text-center">Wekco</p>
                    <img src="assets/img/wekco.jpg"><br>
                </div>
            </a>
            <a target="_blank" class="col-xs-4 partner" href="http://www.konditecmobility.com/">
                <div class="container-app">
                    <p class="text-center">Konditec</p>
                    <img src="assets/img/konditec.jpg"><br>
                </div>
            </a>
        </div>
    </ng-template>
    <ng-template id="popupCookies" #popupCookies>
        <div [hidden]="acceptCookies" class="row">
            <p class=" col-sm-12">
                En este caso las <a><b>Cookies</b></a> no son galletas pero tienes que aceptarlas!! <a href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf" target="_blank" class="cookies">Ver aviso</a>
            </p>
            <div class="col-sm-12">
                <input (click)="onAcceptCookies()" class="button contact" value="Acepto" type="submit">
            </div>
        </div>
        <div [hidden]="!acceptCookies" class="row">
            <p class=" col-sm-12">
                Ya has aceptado las cookies, muchas gracias!
            </p>
            <div class="col-sm-12">
                <input (click)="pCookies.close()" class="button contact" value="Entendido" type="submit">
            </div>
        </div>
    </ng-template>





    <footer>
        <a title="linkedin" href="https://www.linkedin.com/in/adangnzlz/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a title="Infojobs" href="https://freelance.infojobs.net/freelance/Adan-Gonzalez-Lopez/xj0hjzc39v1equl4vb1/1" target="_blank"><i class="fa fa-infojobs"></i></a>
        <p class="designed">Designed &amp; Developed by Adán González López</p>
    </footer>
</div>