app-root {
    font-family: Arial;
    margin: 0;
    font-weight: 100;
}

.popover.popover-bottom {
    width: 100% !important;
    max-width: 300px!important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    position: absolute;
    left: calc(100% - 305px)!important;
    top: 60px!important;
}

.popover-title {
    text-align: center;
}

.fa {
    font-size: 35px;
    color: #707070;
}

.fa-instagram:before {
    vertical-align: middle;
}

.fa-facebook:before {
    vertical-align: middle;
}

.fa-twitter:before {
    vertical-align: middle;
}

.fa-linkedin:before {
    vertical-align: middle;
}

.fa-instagram {
    &:hover {
        color: black;
    }
}

.fa-facebook {
    &:hover {
        color: #3b5998;
    }
}

.fa-twitter {
    &:hover {
        color: #1da1f2;
    }
}

.fa-linkedin {
    &:hover {
        color: #0077b5;
    }
    &:before {
        transform: translateY(-42px);
        position: absolute;
    }
}

.fa-infojobs {
    height: 45px;
    padding: 8px;
    padding-left: 20px;
    image-rendering: -webkit-optimize-contrast;
    content: url('./assets/img/infojobs.png');
    &:hover {
        content: url('./assets/img/infojobs_hover.png');
    }
}

.relative {
    position: relative;
}

mark {
    background: white!important;
    margin: 0px;
    padding: 0px!important;
    &.red {
        color: #ea4335;
    }
    &.blue {
        color: #4285f4;
        &.bottom {
            position: absolute;
            top: 19px;
        }
    }
    &.green {
        color: #34a853;
        &.left {
            margin-left: 45px;
        }
    }
    &.yellow {
        color: #fbbc05;
    }
}

input {
    font-size: 16px;
    height: 46px;
    width: 484px;
    max-width: 100%;
    border: none;
    box-shadow: 0 4px 2px -2px rgba(1, 1, 1, 0.15);
    padding-left: 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
    &:hover {
        box-shadow: 0 4px 6px -2px rgba(1, 1, 1, 0.15);
    }
    &.button {
        width: 150px;
        background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
        -webkit-border-radius: 2px;
        -webkit-user-select: none;
        background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
        border-radius: 2px;
        color: #757575;
        cursor: pointer;
        font-family: arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        margin: 11px 4px;
        min-width: 54px;
        padding: 0 16px;
        text-align: center;
        height: 36px;
        box-shadow: none;
        &:hover {
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            background-color: #f8f8f8;
            border: 1px solid #c6c6c6;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            color: #222;
        }
        &.contact {
            width: 100%;
            background: #4285f4;
            color: white;
            &:hover {
                background: #357ae8;
            }
        }
    }
}

a {
    font-size: 13px!important;
    color: rgba(0, 0, 0, 0.75) !important;
    margin: auto!important;
    &:hover {
        color: rgba(0, 0, 0, 0.75) !important;
        text-decoration: underline!important;
        cursor: pointer!important;
    }
}

.modal-open .modal {
    z-index: 9999!important;
}

.modal-dialog {
    height: 93%!important;
}

.modal-content {
    height: 95%!important;
}

textarea {
    width: 100%;
    background: white!important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px!important;
        margin: 30px auto;
    }
}

@media (min-width: 776px) {
    .modal-dialog {
        max-width: 700px!important;
        margin: 30px auto;
    }
}

@media (min-width: 1024px) {
    .modal-dialog {
        max-width: 900px!important;
        margin: 30px auto;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 1024px!important;
        margin: 30px auto;
    }
}

@media (min-width: 1600px) {
    .modal-dialog {
        max-width: 1424px!important;
        margin: 30px auto;
    }
}

.popover.bs-tether-element-attached-top::before,
.popover.popover-bottom::before {
    display: none!important;
}

.popover.bs-tether-element-attached-top::after,
.popover.popover-bottom::after {
    display: none!important;
}

#ngb-popover-1 {
    .popover-title {
        display: none!important;
    }
    p {
        font-size: 12px;
        padding-left: 20px;
    }
}

#ngb-popover-2 {
    .popover-title {
        display: none!important;
    }
    p {
        font-size: 12px
    }
}

.moaw {
    color: #06ceb1!important;
    font-weight: bold;
}